@{
    Layout = "~/Views/Admin/_Layout.cshtml";
    ViewData["Title"] = ViewBag.Title;
}

@model Article

<h4 class="text-center m-4">@ViewBag.Title</h4>

<div class="row">
    <div class="row m-2 justify-content-center">
        <image src="@Model.ImageUrl" class="col-4"/>
    </div>
@*     <div class="row m-2 justify-content-center">
        <label class="col-2 form-label">Id</label>
        <label class="col-4 form-label">@Model.Id</label>
    </div> *@
    <div class="row m-2 justify-content-center">
        <label class="col-4 form-label">@Model.Title</label>
    </div>
    <div class="row m-2 justify-content-center">
        <label class="col-4 form-label">@Model.Text</label>
    </div>
    <div class="row m-2 justify-content-center">
        <label class="col-2 form-label">Добавлено</label>
        <label class="col-4 form-label">@Model.AddedTime.ToShortDateString()</label>
    </div>
    <div class="row m-2 justify-content-center">
        <label class="col-2 form-label">Последние изменение</label>
        <label class="col-4 form-label">@Model.EditTime.ToShortDateString()</label>
    </div>
    <div class="row m-2 justify-content-center">
        <button class="col-1 btn btn-primary btn-sm m-2"><a class="text-white text-decoration-none" asp-action="AddOrUpdate" asp-route-id="@Model.Id">Редактировать</a></button>
        <button class="col-1 btn btn-secondary btn-sm m-2"><a class="text-white text-decoration-none" asp-action="Index">Назад</a></button>
    </div>

</div>